@use "../../styles/abstracts/mixins" as m;

.loading {
  height: 100%;
  width: 100%;
  padding: 20px;
  @include m.d-flex($justify: center);

  &__spinner {
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: loading-spin 1s linear infinite;
  }
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
