.list {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  &__item {
    height: calc((100% - 20px) / 2);
    width: calc((100% - 60px) / 4);

    scroll-snap-align: start;
  }
}
