@use "../../../../shared/styles/abstracts/mixins" as m;
@use "../../../../shared/styles/tokens/colors" as c;

.options {
  @include m.scroll-container();
  overflow-x: hidden;

  &__item {
    scroll-snap-align: start;
  }

  &__active {
    color: c.$color-accent;
  }
}
