@use "../../shared/styles/abstracts/mixins" as m;

.search {
  padding: 10px;
  @include m.d-flex();
  @include m.bordered();
  gap: 10px;

  &__input {
    height: 30px;
    border: none;
  }

  &__input:focus {
    outline: none;
  }

  &__button {
    height: 30px;
    width: 30px;
  }

  &__icon {
  }
}
