@use "../../shared/styles/abstracts/mixins" as m;
@use "../../shared/styles/tokens/colors" as c;

.search {
  @include m.d-flex();
  gap: 5px;

  &__input {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &__input:focus {
    outline: none;
  }

  input::placeholder {
    color: c.$color-primary;
  }

  &__button {
    flex-shrink: 0;
  }

  &__icon {
    height: 20px;
    width: 20px;
  }
}
