@mixin d-flex($justify: space-between, $align: center, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin bordered($width: 1px, $style: solid, $color: transparent, $radius: 0px) {
  border: $width $style $color;
  border-radius: $radius;
}

@mixin layout-bar {
  height: 40px;
  width: 100%;
  //padding: 10px;
  @include d-flex();
  @include bordered();
  //@include blur();
}

@mixin blur {
  background: rgba(255, 255, 255, 0.336);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(20px);
}

@mixin scroll-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
  }

  &::-webkit-scrollbar-thumb {
    border: 1px solid rgb(255, 0, 0);
    border-radius: 1px;
  }
}
