@use "../../../../shared/styles/abstracts/mixins" as m;

.options {
  @include m.scroll-container();
  overflow-x: hidden;

  &__item {
    scroll-snap-align: start;
  }

  &__active {
    color: red;
  }
}
