@use "../../shared/styles/abstracts/mixins" as m;
@use "../../shared/styles/tokens/colors" as c;

.favorites {
  height: 40px;
  width: 40px;
  @include m.d-flex($justify: center);
  position: relative;

  &__icon {
    height: 20px;
    width: 20px;
  }

  &__badge {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 18px;
    width: 18px;
    font-size: 10px;
    background-color: c.$color-primary;
    color: black;
    border-radius: 100%;
    @include m.d-flex($justify: center);
  }
}
