// base
@use "./base/normalize";
@use "./base/reset";

// tokens
@use "./tokens/colors";
@use "./tokens/fonts";
@use "./tokens/typography";

// abstracts
@use "./abstracts/mixins";

html,
body,
#root {
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

#root {
  padding: 20px;
}

@media (max-width: 800px) {
  html,
  body,
  #root {
  }
}
