.button {
  width: 20px;
  flex-shrink: 0;

  &__icon {
    height: 100%;
    width: 100%;
  }
}

@keyframes shakeHorizontal {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake {
  animation: shakeHorizontal 0.4s ease;
  transform-origin: center;
}
