@use "../../../shared/styles/abstracts/mixins" as m;
@use "../../../shared/styles/tokens/colors" as c;

.cocktail {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__navbar {
    display: flex;
    align-items: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__header h1 {
    color: c.$color-accent;
  }

  &__meta {
    width: 300px;
    align-self: flex-end;
    display: grid;
    height: min-content;
    grid-template-columns: 150px 1fr;
  }

  &__meta dd {
    text-align: end;
  }

  &__meta dd,
  &__meta dt {
    align-self: flex-end;
    text-wrap: balance;
  }

  &__image {
    height: 100%;
    width: 20%;
    object-fit: cover;
    object-position: center;
    @include m.bordered();
  }

  &__instructions {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__instructions-text {
    text-wrap: pretty;
    overflow-y: auto;
  }
}

@media (max-width: 800px) {
  .cocktail {
    gap: 0px;
    padding-right: 0px;
    @include m.scroll-container();

    &__content {
      flex-direction: column;
    }

    &__container {
      flex: 1;
      min-height: 0;
    }

    &__header {
      justify-content: space-between;
    }

    &__meta {
      width: 100%;
    }

    &__image {
      height: 100%;
      width: 100%;
      margin: 20px 0;
    }
  }
}
