@use "../../../shared/styles/abstracts/mixins" as m;

.cocktail {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__navbar {
  }

  &__backButton {
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__card {
    @include m.d-flex($align: stretch);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__head {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__meta {
    width: 300px;
    align-self: flex-end;
    display: grid;
    height: min-content;
    grid-template-columns: 150px 1fr;
  }

  &__meta dd {
    text-align: end;
  }

  &__meta dd,
  &__meta dt {
    align-self: flex-end;
    text-wrap: balance;
  }

  &__image {
    height: 100%;
    width: 20%;
    object-fit: cover;
    object-position: center;
    @include m.bordered();
  }

  &__instructionsWrapper {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__instructions {
    text-wrap: pretty;
    overflow-y: auto;
  }
}
