@font-face {
  font-family: "Albert";
  src: url("../../../assets/fonts/Albert.ttf") format("truetype");
}

@font-face {
  font-family: "Homemade";
  src: url("../../../assets/fonts/Homemade.ttf") format("truetype");
}
