@font-face {
  font-family: "Hotamie";
  src: url("../../../assets/fonts/Hotamie.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("../../../assets/fonts/Raleway.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("../../../assets/fonts/Raleway-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Cedarville";
  src: url("../../../assets/fonts/Cedarville.ttf") format("truetype");
}
