@use "../tokens/colors" as c;

$font-primary:
  "Poiret",
  system-ui,
  -apple-system,
  sans-serif;

$font-secondary: "Montserrat", Georgia, serif;

html,
body,
#root {
  font-family: "Albert";
  line-height: 2;
  font-size: 16px;
  color: c.$color-primary;
}

.logo {
  font-family: "Homemade", Helvetica, sans-serif;
  font-size: 14px;
  color: c.$color-accent;
}

h1 {
  font-family: "Albert", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

h2 {
  font-family: "Albert", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

dt {
  font-family: "Albert", Helvetica, sans-serif;
  font-size: 16px;
}

@media (max-width: 800px) {
}
