@use "../../../../shared/styles/abstracts/mixins" as m;

.list {
  @include m.scroll-container;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  &__item {
    height: calc((100% - 20px) / 2);
    width: calc((100% - 100px) / 5);
    scroll-snap-align: start;
  }
}

@media (max-width: 800px) {
  .list {
    &__item {
      height: 100%;
      width: calc((100% - 40px) / 2);
    }
  }
}
